@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&family=Red+Hat+Text:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
html {
  font-size: 62.5%;
  font-style: normal;
}
html .home-body {
  background: url(../starter-code/assets/home/background-home-mobile.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}
html body {
  padding: 8.8rem 2.4rem 0rem 2.4rem;
  position: relative;
  font-family: "Barlow", sans-serif;
}
html body header {
  padding: 2.4rem 2.4rem 0 2.4rem;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body header #logo {
  width: 4rem;
  height: 4rem;
}
html body header .hamburger #navbar-icon {
  transition: all 0.3s;
}
html body header .hamburger.active #navbar-icon {
  transform: rotate(-90deg);
}
html body header .navbar {
  background-color: green;
  transform: translateX(35.4rem);
  display: block;
  padding: 2.4rem;
  position: absolute;
  top: 0rem;
  right: 0rem;
  left: unset;
  width: 25.4rem;
  height: 100vh;
  transition: all 0.5s;
  background: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(4.07742rem);
          backdrop-filter: blur(4.07742rem);
}
html body header .navbar .list {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 9.6rem -2.4rem 0 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: flex-start;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  color: #ffffff;
}
html body header .navbar .list .num {
  margin-right: 1.1rem;
  font-weight: 600;
}
html body header .navbar .list li {
  position: relative;
  display: block;
  width: 100%;
  cursor: pointer;
}
html body header .navbar .list .border-left {
  border-right: solid #ffffff 0.3rem;
}
html body header .navbar .list li::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  width: 0.3rem;
  background-color: rgba(255, 255, 255, 0.5021);
  transition: transform 300ms ease-in-out;
  transform: scaleY(0);
  transform-origin: top;
}
html body header .navbar .list li:hover::before,
html body header .navbar .list li:focus::before {
  transform: scaleY(1);
}
html body header .navbar .list .active-page::before {
  background-color: #ffffff;
  transform: scaleY(1);
}
html body header .navbar.active {
  transform: translateX(0rem);
}

.home {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 8.1rem;
  margin-top: 2.4rem;
}
.home .text-box h2 {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.338rem;
  text-transform: uppercase;
  color: #D0D6F9;
  padding-left: 1rem;
}
.home .text-box h1 {
  font-weight: 400;
  font-size: 8rem;
  line-height: 10rem;
  letter-spacing: unset;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Bellefair", serif;
  margin: 1.6rem 0;
}
.home .text-box p {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: unset;
  color: #D0D6F9;
  max-width: 42.5rem;
  text-align: center;
}
.home .space-button {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  color: #0B0D17;
  font-family: "Bellefair", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: unset;
  flex-direction: unset;
  outline-style: solid;
  outline-width: 0rem;
  transition: all 0.3s linear;
  cursor: pointer;
}
.home .space-button:hover {
  outline-width: 4.8rem;
  outline-color: rgba(255, 255, 255, 0.2036);
}

.destination-body {
  background: url(../starter-code/assets/destination/background-destination-mobile.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}

.destination {
  display: flex;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2.6rem;
}
.destination h2 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  color: #ffffff;
}
.destination h2 .num {
  font-weight: 700;
  margin-right: 1rem;
  color: #D0D6F9;
}
.destination #planet {
  width: 17rem;
  height: 17rem;
  margin-top: 3.2rem;
}
.destination .names {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.236rem;
  text-transform: uppercase;
  color: #D0D6F9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: unset;
  flex-direction: unset;
  gap: 1.7rem;
}
.destination .names span {
  cursor: pointer;
  position: relative;
  padding-bottom: 0.8rem;
}
.destination .names span:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 0.3rem;
  background-color: rgba(255, 255, 255, 0.5021);
  transition: transform 300ms ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}
.destination .names span:hover::before, .destination .names span:focus::before {
  transform: scaleX(1);
}
.destination .names .border-color:before {
  background-color: #ffffff;
  transform: scaleX(1);
}
.destination #name {
  font-weight: 400;
  font-size: 5.6rem;
  line-height: 6.4rem;
  letter-spacing: 100%;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Bellefair", serif;
  margin: 2rem 0 0.1rem 0;
}
.destination .description {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: unset;
  text-transform: unset;
  color: #ffffff;
  max-width: 42.5rem;
  padding-bottom: 3.2rem;
  border-bottom: solid #383B4B 0.1rem;
  margin-bottom: 3.2rem;
}
.destination .time-period {
  margin: 3.2rem 0 5.8rem 0;
}
.destination .distance, .destination .time-period {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 2.5rem;
}
.destination .text {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  letter-spacing: 0.236rem;
  text-transform: uppercase;
  color: #D0D6F9;
}
.destination .number {
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.2rem;
  letter-spacing: 0.3209rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Bellefair", serif;
}

.crew-body {
  background: url(../starter-code/assets/crew/background-crew-mobile.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.crew h2 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.crew h2 .num {
  font-weight: 700;
  margin-right: 1rem;
  color: #D0D6F9;
}
.crew .flexbox {
  margin-top: 3.3rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3.2rem;
}
.crew .flexbox #crew-member {
  width: 100%;
  border-bottom: unset;
  text-align: center;
  border-bottom: solid 0.1rem #383B4B;
}
.crew .flexbox #crew-member img {
  height: 22.3rem;
  margin-bottom: -0.1rem;
}
.crew .flexbox .text-box {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.crew .flexbox .text-box #nav-crew {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1.6rem;
}
.crew .flexbox .text-box #nav-crew div {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 17.44%;
  cursor: pointer;
}
.crew .flexbox .text-box #nav-crew div:hover {
  opacity: 50.01%;
}
.crew .flexbox .text-box #nav-crew .background-opacity {
  opacity: 1;
}
.crew .flexbox .text-box #title {
  margin: 3.2rem 0 0.8rem 0;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.834rem;
  letter-spacing: unset;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 50.01%;
  font-family: "Bellefair", serif;
}
.crew .flexbox .text-box #name {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.705rem;
  letter-spacing: unset;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Bellefair", serif;
}
.crew .flexbox .text-box #about {
  margin: 1.6rem 0 10.4rem 0;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: unset;
  text-transform: unset;
  color: #D0D6F9;
  max-width: 37.5rem;
}

.technology-body {
  background: url(../starter-code/assets/technology/background-technology-mobile.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: unset;
  padding-right: unset;
}

.technology h2 {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}
.technology h2 .num {
  font-weight: 700;
  margin-right: 1rem;
  color: #D0D6F9;
}
.technology .flexbox {
  margin-top: 3.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 3.4rem;
}
.technology .flexbox #technology-image .landscape {
  width: 100%;
}
.technology .flexbox #technology-image .portrate {
  display: none;
}
.technology .flexbox .text-box-technology {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}
.technology .flexbox .text-box-technology #nav-technology {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1.6rem;
}
.technology .flexbox .text-box-technology #nav-technology div {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: unset;
  border: solid 0.1rem #ffffff;
  cursor: pointer;
  background-color: unset;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.834rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Bellefair", serif;
  padding: 1.1rem 0;
}
.technology .flexbox .text-box-technology #nav-technology div:nth-of-type(1) {
  background-color: #ffffff;
  color: #0B0D17;
}
.technology .flexbox .text-box-technology #nav-technology div:hover {
  border-color: rgba(255, 255, 255, 0.25);
}
.technology .flexbox .text-box-technology #terminology {
  margin: 2.6rem 0 0.9rem 0;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.68rem;
  letter-spacing: 0.234rem;
  text-transform: uppercase;
  color: #D0D6F9;
}
.technology .flexbox .text-box-technology #technology-name {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.705rem;
  letter-spacing: unset;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Bellefair", serif;
}
.technology .flexbox .text-box-technology #about-technology {
  margin: 1.6rem 2.4rem 8.1rem 2.4rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: unset;
  text-transform: unset;
  color: #D0D6F9;
  max-width: 37.5rem;
}/*# sourceMappingURL=style.css.map */