@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300&family=Red+Hat+Text:ital,wght@0,500;0,600;0,700;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');


//colors
$dark:   #0B0D17;
$light: #D0D6F9;
$white: #ffffff;
$bc-color: rgba(255, 255, 255, 0.08);
$border-color: rgba(255, 255, 255, 0.5021);
// font size


//mixins
@mixin flexProperty ($horizontal,$vertical,$wrap, $direction) {
    justify-content: $horizontal;
    align-items: $vertical;
    flex-wrap: $wrap;
    flex-direction: $direction;
}

@mixin dimensions ($width, $height) {
    width: $width;
    height: $height;
}

@mixin background ($Size, $repeat, $position) {
    background-size: $bcSize;
    background-repeat: $repeat;
    background-position: $position;
}
@mixin absolute ($top, $right, $left) {
    top: $top;
    right: $right;
    left: $left;
}
@mixin textStyle ($weight, $size, $height, $spacing, $transform, $color) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    letter-spacing: $spacing;
    text-transform: $transform;
    color: $color;
}


//styling of body and header 
html {
    font-size: 62.5%;
    font-style: normal;
    .home-body {
        background: url(../starter-code/assets/home/background-home-mobile.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: top;
    }
    body {
        padding: 8.8rem 2.4rem 0rem 2.4rem;
        position: relative;
        font-family: 'Barlow', sans-serif;
        header {
            padding: 2.4rem 2.4rem 0 2.4rem;
            position: fixed;
            top: 0;
            right: 0;
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            #logo {
                @include dimensions(4rem,4rem);
            }
            .hamburger {
                #navbar-icon {
                   transition: all 0.3s;
                }

            }
            .hamburger.active {
                #navbar-icon {
                    transform: rotate(-90deg);
                }
            }
            .navbar {
                background-color: green;
                transform: translateX(35.4rem);
                display: block;
                padding: 2.4rem;
                position: absolute;
                @include absolute(0rem, 0rem, unset);
                @include dimensions(25.4rem, 100vh);
                transition:  all 0.5s;
                background: $bc-color;
                backdrop-filter: blur(4.07742rem);
                .list {
                    display: flex;
                    @include flexProperty(left, center, wrap, column);
                    margin: 9.6rem -2.4rem 0 0.8rem;
                    display: flex;
                    flex-direction: column;
                    gap: 3.2rem;
                    align-items: flex-start;
                    @include textStyle(400, 1.6rem, 1.9rem, 0.27rem, uppercase, $white);
                    .num {
                        margin-right: 1.1rem;
                        font-weight: 600;
                    }
                    li {
                        position: relative;
                        display: block;
                        width: 100%;
                        cursor: pointer;
                    }
                    .border-left {
                        border-right: solid $white 0.3rem;
                    }
                    li::before {
                    content: '';
                      position: absolute;
                      right: 0;
                      bottom: 0;
                      top: 0;
                      width: 0.3rem;
                      background-color: $border-color;
                      transition: transform 300ms ease-in-out;
                      transform: scaleY(0);
                      transform-origin: top;
                      
                    }
                    li:hover::before,
                    li:focus::before {
                        transform: scaleY(1);
                    }
                    .active-page::before {
                        background-color: $white;
                        transform: scaleY(1);
                    }
                }
            }
            .navbar.active {
                transform: translateX(0rem);
            }
        }
    }  
}

//styling of home page
.home {
    display: flex;
    text-align: center;
    @include flexProperty(flex-start,center,wrap,column);
    gap: 8.1rem;
    margin-top: 2.4rem;
    .text-box {
        h2 {
            @include textStyle(400, 2rem, 2.4rem, 0.338rem, uppercase ,$light);
            padding-left: 1rem
        }
        h1 {
            @include textStyle(400, 8rem, 10rem, unset, uppercase ,$white);
            font-family: 'Bellefair', serif;
            margin: 1.6rem 0;
        }
        p {
            @include textStyle(400, 1.5rem, 2.5rem, 0.2rem, unset ,$light);
            max-width: 42.5rem;
            text-align: center;
        }
    }
    .space-button {
        @include dimensions(15rem,15rem);
        border-radius: 50%;
        background-color: $white;
        @include textStyle(400, 2rem, 2.3rem, 0.125rem, uppercase, $dark);
        font-family: 'Bellefair', serif;
        display: flex;
        @include flexProperty(center, center, unset, unset);
        outline-style: solid;
        outline-width: 0rem;
        transition: all 0.3s linear;
        cursor: pointer;
    }
    .space-button:hover {
        outline-width: 4.8rem;
        outline-color: rgba(255, 255, 255, 20.36%);
    }
} 

//styling of destination page
.destination-body {
    background: url(../starter-code/assets/destination/background-destination-mobile.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top;
}
.destination {
    display: flex;
    text-align: center;
    @include flexProperty(flex-start,center,wrap,column);
    gap: 2.6rem;
    h2 {
        @include textStyle(400, 1.6rem, 1.9rem, 0.27rem, uppercase, $white);
        .num {
            font-weight: 700;
            margin-right: 1rem;
            color: $light
        }
    }
    #planet {
        @include dimensions(17rem,17rem);
        margin-top: 3.2rem;
    }
    .names {
        @include textStyle(400, 1.4rem, 1.7rem, 0.236rem, uppercase, $light);
        display: flex;
        @include flexProperty(center, center, unset, unset);
        gap: 1.7rem;
        span {
            cursor: pointer;
            position: relative;
            padding-bottom: 0.8rem;
            &:before {
                content: '';
                position: absolute;
                right: 0;
                left: 0;
                bottom: 0;
                height: 0.3rem;
                background-color: $border-color;
                transition: transform 300ms ease-in-out;
                transform: scaleX(0);
                transform-origin: left; 
            }
            &:hover::before,
            &:focus::before {
                transform: scaleX(1);
            }
        }
        .border-color {
            &:before {
                background-color: $white;
                transform: scaleX(1);
            }
        }
    }
    #name {
        @include textStyle(400, 5.6rem, 6.4rem, 100%, uppercase, $white);
        font-family: 'Bellefair', serif;
        margin: 2rem 0 0.1rem 0;
    }
    .description {
        @include textStyle(400, 1.5rem, 2.5rem, unset, unset, $white);
        max-width: 42.5rem;
        padding-bottom: 3.2rem;
        border-bottom: solid #383B4B 0.1rem;
        margin-bottom: 3.2rem;
    }
    .time-period {
        margin: 3.2rem 0 5.8rem 0;
    }
    .distance, .time-period {
        display: flex;
        @include flexProperty(center, center, nowrap, column);
        flex-wrap: nowrap;
        gap: 2.5rem;
    }
    .text {
        @include textStyle(400, 1.4rem, 1.7rem, 0.236rem, uppercase, $light);
    }
    .number {
        @include textStyle(400, 2.8rem, 3.2rem, 0.3209rem, uppercase, $white);
        font-family: 'Bellefair', serif;
    }
}

//styling of crew page.
.crew-body {
    background: url(../starter-code/assets/crew/background-crew-mobile.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}
.crew {
    h2 {
        @include textStyle(400, 1.6rem, 1.9rem, 0.27rem, uppercase, $white);
        text-align: center;
        .num {
            font-weight: 700;
            margin-right: 1rem;
            color: $light;
        }
    }
    .flexbox {
        margin-top: 3.3rem;
        display: flex;
        @include flexProperty(flex-start,center,wrap,column);
        gap: 3.2rem;
        #crew-member {
            width: 100%;
            border-bottom: unset;
            text-align: center;
            border-bottom: solid 0.1rem #383B4B;
            img {
                height: 22.3rem;
                margin-bottom: -0.1rem;
            }
        }
        .text-box {
            display: flex;
            text-align: center;
            @include flexProperty(center,center, nowrap, column);
            #nav-crew {
                display: flex;
                @include flexProperty(center,center, nowrap, row);
                gap: 1.6rem;
                div {
                    @include dimensions(1rem,1rem);
                    border-radius: 50%;
                    background-color: $white;
                    opacity: 17.44%;
                    cursor: pointer;
                    &:hover {
                        opacity: 50.01%;
                    }
                }
                .background-opacity {
                    opacity: 1;
                }
            }
            #title {
                margin: 3.2rem 0 0.8rem 0;
                @include textStyle(400, 1.6rem, 1.834rem, unset, uppercase, $white);
                opacity: 50.01%;
                font-family: 'Bellefair', serif;
            }
            #name {
                @include textStyle(400, 2.4rem, 2.705rem, unset, uppercase, $white);
                font-family: 'Bellefair', serif;
            }
            #about {
                margin: 1.6rem 0 10.4rem 0;
                @include textStyle(400, 1.5rem, 2.5rem, unset, unset, $light);
                max-width: 37.5rem;

            }

        }
    }
}

//styling of technology page
.technology-body {
    background: url(../starter-code/assets/technology/background-technology-mobile.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: unset;
    padding-right: unset;
}
.technology {
    h2 {
        @include textStyle(400, 1.6rem, 1.9rem, 0.27rem, uppercase, $white);
        text-align: center;
        .num {
            font-weight: 700;
            margin-right: 1rem;
            color: $light;
        }
    }
    .flexbox {
        margin-top: 3.2rem;
        display: flex;
        @include flexProperty(flex-start,center,wrap,column);
        gap: 3.4rem;
        #technology-image {
            .landscape {
                width: 100%;
            }
            .portrait {
                display: none;
            }
        }
        .text-box-technology {
            display: flex;
            text-align: center;
            @include flexProperty(center,center, nowrap, column);
            #nav-technology {
                display: flex;
                @include flexProperty(center,center, nowrap, row);
                gap: 1.6rem;
                div {
                    @include dimensions(4rem, 4rem);
                    border-radius: 50%;
                    background-color: unset;
                    border: solid 0.1rem $white;
                    cursor: pointer;
                    background-color: unset;
                    @include textStyle(400, 1.6rem, 1.834rem, 0.1rem, uppercase, $white);
                    font-family: 'Bellefair', serif;
                    padding: 1.1rem 0;
                    &:hover {
                        border-color: rgba(255,255,255, 25%);
                    }
                }
                .color-style {
                    background-color: $white;
                    color: $dark;
                }
            }
            #terminology {
                margin: 2.6rem 0 0.9rem 0;
                @include textStyle(400, 1.4rem, 1.68rem, 0.234rem, uppercase, $light);
            }
            #technology-name {
                @include textStyle(400, 2.4rem, 2.705rem, unset, uppercase, $white);
                font-family: 'Bellefair', serif;
            }
            #about-technology {
                margin: 1.6rem 2.4rem 8.1rem 2.4rem;
                @include textStyle(400, 1.5rem, 2.5rem, unset, unset, $light);
                max-width: 37.5rem;

            }

        }
    }
}











